@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Track */
::-webkit-scrollbar-track {
  background: none;
  size: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00053633;
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

html {
  height: 100%;
  color: #303030;
}

::-webkit-scrollbar {
  display: none;
}

.index {
  color: #303030;
  text-align: center;
  font-size: 50px;
}

.error {
  color: red;
}

.index a {
  color: #303030;
  text-align: center;
  font-size: 20px;
  padding-left: 50px;
}

body {
  color: #303030;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../img/large.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color:#303030;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}

.nav__links li a:hover {
  color: #CF53CB;
  border-bottom: 1px solid #CF53CB;
  padding-bottom: 5px;
  font-size: 120%;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #CF53CB;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

button:hover{
  background-color: #873af7;
}

.logo:hover{
  filter: brightness(0.7);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

footer {
  padding: 20px 0;
  margin-top: auto;
  
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

footer h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer p {
  color: #24252A;
}
footer a {
  text-decoration: none;
}

a:hover {
  color: #CF53CB;
}

p {
  line-height: 1.5;
}

.hi_myname {
  text-align: center;
  
}

.WRONG1 {
  font-size: xx-large;
  color: #CF53CB;
  text-align: center;
}

.back-button {
  margin-left: auto;
}

input {
  padding: 9px 25px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input:hover {
  border-style: solid;
  border-color: #ccc;
}

select {
  padding: 9px 25px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
}

.login {
  backdrop-filter: blur(10px);
  margin: auto;
  background-color: #ffffff7c;
  color: #303030;
  border-radius: 18px;
  padding: 40px 80px 40px 80px;
}

.login input {
  padding: 9px 25px;
}

.login h1 {
  text-align: center;
}

.submit {
  margin-left: 20px;
  padding: 9px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: linear-gradient(120deg, #873af7, #CF53CB, #FA7970);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}

.submit:hover {
  background-position: 0 0;
}


.login a {
  color: #333333;
  margin-right: 20px;
  padding: 9px 25px;
}

.login a:hover {
  color: #CF53CB;
}

.index {
  background-color: #CF53CB;
  margin: auto;
  border-radius: 20px;
}

.index a:hover {
  color: #333333;
}

.index h1:hover {
  color: #333333;
}

.form {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #17181b;
}

.form h1 {
  text-align: center;
}

.copyright {
  color: rgb(184, 185, 185);
  text-align: center;
}

.menu {
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid transparent;
  color: white;
  text-align: right;
}

.menu a {
  font-size: 550%;
  transition: all 0.3s ease 0s;
}

.menu a:hover {
  border-bottom: 1px solid #000536;
  padding-bottom: 5px;
  font-size: 600%;
}

::selection {
  color: white;
  background: #CF53CB;
  border-radius: 10px;
}

.WRONG {
  text-align: center;
  margin-top: auto; 
  display: inline-flex;
}

.WRONG p{
  text-align: center;
  font-size: 100%;
  position: relative;
  top: 0pt;
  margin: auto;
  color: #000536;
}

.WRONG button {
  background: #000536;
  position: fixed;
  border-radius: 54px;
  right: 200pt;
}

video {
  border-radius: 10px;
  margin: auto;
  align-items: center;
}

.title {
  margin: auto;
  font-size: 150%;
}

.game {
  width: 150px;
  height: 250px;
  color: #303030;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 18px #838383;
  display: grid; 
  margin:10px;
}

.game h3 {
  margin-top: 200px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.essentials-h1 {
  color: #CF53CB;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border-style: solid;
  border-color: #ccc;
}

.container input:checked ~ .checkmark {
  border-style: solid;
  border-color: #0F82FF;
}

.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  padding: 9px 25px;
  text-align: center;
  height: 50%;
  width: auto;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff00;
}

.container {
  padding: 9px 25px;
  height: 50%;
  width: auto;
}

.checkboxs {
  display: grid;
  grid-template-columns: auto auto;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  backdrop-filter: blur(10px);
  margin: 0px 50px 10px 50px;
  background-color: #ffffff7c;
  color: #303030;
  border-radius: 18px;
  padding: 40px 80px 40px 80px;
}

.deletePro {
  margin: auto;
}

@media only screen and (max-width: 600px) 
{
  .cards {
    display: grid;
    grid-template-columns: auto;
  }

  .essentials-h1 {
    display: none;
  }

  .title-project {
    padding: 0px 10vw;
  }

  .login {
    display: block;
    padding: 0px 10px 0px 10px;
    margin-top: 0px;
    backdrop-filter: blur(10px);
    background-color: #ffffff7c;
    color: #303030;
    border-radius: 18px;
  }

  .checkboxs {
    display: block;
  }
}