{% extends "base.html" %} 
{% block title %}log in{% endblock %}
{% block css %}lightMode.css{% endblock %}

{% block body %}
    
   <form method="POST" class="login" onchange="formCheck()">

        <h1 style="font-size: 300%; text-align: left; font-family: 'Nanum Pen Script', cursive;">Log In</h1>

       <input type="email" id="email" name="email" placeholder="Email" style="border-radius: 10px 10px 0 0;">
        <br>
       <input onclick="formCheck()" type="password" class="password" id="password" name="password" placeholder="password" style="border-radius: 0 0 10px 10px;">

       <input type="submit" id="submit" class="submit" disabled>
       <br>
       <a href="/sign-up">create account</a>
    </form>
{% endblock %}